

/* @import url('https://fonts.googleapis.com/css2?family=Miniver&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap'); */


.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Shared  Styel */
.secondary-bg{
    background-color: #FFF8F3;
}
.text-primary{
    color: #FD6E0A;
}
.dark-2{
    color: #474747;
}
.dark-3{
    color: #757575;
}
.text-center{
    text-align: center;
}


/* Nav styels */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 10px;
    max-height: 80px;
}
.nav-title{
    margin-left: 110px;
    font-weight: 800;
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
}
nav li a{
    text-decoration: none;
    font-size: 20px;
}
.btn-primary{
    background-color: #FD6E0A;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
}

/* Header Style */
.header{
    background-image:url("../images/developer.png"), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
/* Styles of Banner */
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 28px 0 120px;

}
.banner-content{
    max-width: 510px;
    height: 320px;
}
.banner-greetings{
    margin-bottom: 7px;
    font-size: 40px;
    font-weight: 600;
    color: #474747;
}
.banner-title{
    color: #181818;
    font-size: 82px;
    font-weight: bold;
    margin: 0 0 7px 0;
}
.banner-description{
    font-size: 18px;
}
.banner-profile-pic{
    width: 500px;
}

.section-title{
    font-size: 28px;
    font-weight: bold;
    color: #181818;
}
.section-description{
    font-size: 16px;
    color: #757575;
}

 /* main styles */
 main{
    max-width: 1140px;
    margin: 0 auto;
 }
 /* about style */
 .all-about{
    margin: 90px 110px;
    border: 1px solid rgb(17, 17, 17);
 }
 .about{
    border-radius: 10px;
    padding: 60px 90px;
    margin-top: 80px;
    text-align: center;
 }
 .about-items{
    line-height: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* gap: 20px; */
}
.item-title{
    color:#757575;
    font-size:16px;
}
.item-description{
    color:#474747;
    font-size:16px;
    font-weight: bold;
}

/* Start Style Skill secton  */
.skills-container{
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-top: 50px;
    margin-bottom: 50px;

}
.skill{
    /* border: 2px solid blue; */
    border-radius: 10px;
    background-color: #FFF8F3;
    padding: 15px;
    box-shadow: 0px 6px 10px 10px rgba(44, 43, 43, 0.123);
}

/* Styling Resume section */
.resume{
    display: flex;
    gap:24px;
    margin-bottom: 40px;
}
.resume-heading{
    margin-top: 100px;
    margin-bottom: 60px;
}
.section-title, .resume-heading{
    font-size: 30px;
    font-weight: bold;
}
.dwn-cv{
    text-align: center;
    margin: 30px;
    margin-top: 10px;
}
.edu-title, .exp-title{
    font-size: 22px;
}
.edu-uni, .exp-uni{
    font-size: 28px;
}
.main-title{
    font-size: 25px;
    font-weight: bold;
}
.footer-sec{
    padding: 100px 180px;
    display: flex;
    flex: 1;
    gap: 100px;
}
.about-btn{
    margin-top: 30px;
}
.about-footer{
    width: 50%;
}
.about-footer> input[type="text"], input[type="email"], textarea {
    height: 50px;
    border-radius: 5px;
    background-color: #fff;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 20px;
    border: none;
    
}